<a href="https://colab.research.google.com/github/enikolaev/Algorithmization_and_programming/blob/main/Lectures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лекция 2

In [ ]:
# Эта программа показывает повторное присвоение значения переменной.
# Присвоить значение переменной roubles.
roubles = 2.75
print('У меня на счете', roubles, 'рублей.')
# Повторно присвоить значение переменной roubles,
# чтобы она ссылалась на другое значение.
roubles = 99.95
print('А теперь там', roubles, 'рублей!')

У меня на счете 2.75 рублей.
А теперь там 99.95 рублей!

In [ ]:
room = 211
roubles = 99.999
print(room, type(room))
print(roubles, type(roubles))

211 <class 'int'>
99.999 <class 'float'>

In [ ]:
first_name='Evgeny'
last_name="Nikolaev"
print(first_name, type(first_name))
print(last_name, type(last_name))

Evgeny <class 'str'>
Nikolaev <class 'str'>

In [ ]:
x = 100
print(x, type(x))

x = 'Николаев Евгений Иванович'
print(x, type(x))

x = 3.14
print(x, type(x))

100 <class 'int'>
Николаев Евгений Иванович <class 'str'>
3.14 <class 'float'>

In [ ]:
name = input('как вас зовут? ')
print('Понятно, ', name, '. Я запомню!')

как вас зовут? John
Понятно,  John . Я запомню!

In [ ]:
# Зарплата
salary = 15000.00
# Премия
bonus = 13500.80
# Ставка налога
tax = 13
# Сумма налога
total_tax = (salary + bonus) * tax / 100
# итоговая выплата
total_outcome = (salary + bonus) - total_tax
print('Выплата на руки', total_outcome)

Выплата на руки 24795.696

In [ ]:
salary = 15000.00
bonus = 13500.80
tax = 13
total_tax = (salary + bonus) * tax / 100
total_outcome = (salary + bonus) - total_tax
total_outcome = round(total_outcome, 2)
print('Выплата на руки', total_outcome)

Выплата на руки 24795.7

In [ ]:
# Количество отработанных часов
hours = 25
# Стоимость часа работы
tax = 550.37

# Итоговый заработок
outcome = hours * tax

print('Итого к выплате: ', outcome)

Итого к выплате:  13759.25

# Лекция 3

In [ ]:
# Количество отработанных часов
hours = 40
# Стоимость часа работы
tax = 550.37

# Итоговый заработок
outcome = hours * tax
if hours >= 40:
  outcome = outcome + 0.1 * outcome

outcome = round(outcome, 2)
print('Итого к выплате: ', outcome)

Итого к выплате:  24216.28

In [ ]:
# Количество отработанных часов
hours = 40
# Стоимость часа работы
tax = 550.37

# Итоговый заработок
outcome = hours * tax
if hours >= 40:
  outcome = outcome + 0.1 * outcome
  print('Премия начислена!!!')
  print('Премия в размере 10%')

outcome = round(outcome, 2)
print('Итого к выплате: ', outcome)

Премия начислена!!!
Премия в размере 10%
Итого к выплате:  24216.28

In [ ]:
# Количество отработанных часов
hours = 38
# Стоимость часа работы
tax = 550.37

outcome = hours * tax
if hours >= 40:
  outcome = outcome + 0.2 * outcome
  print('Премия начислена!!! Размер премии 20%')
else:
  outcome = outcome - 1000
  print('Удержано 1000 рублей')

outcome = round(outcome, 2)
print('Итого к выплате: ', outcome)

Удержано 1000 рублей
Итого к выплате:  19914.06

In [ ]:
# Количество отработанных часов
hours = 32
# Стоимость часа работы
tax = 400

outcome = hours * tax
if hours >= 0 and hours < 9:
  outcome = outcome - 0.2 * outcome
  print('Начислен штраф в размере 10%')
else:
  if hours >= 10 and hours < 19:
    print('Нет ни премий, ни удержаний')
  else:
    if hours >= 20 and hours < 29:
      outcome = outcome + 0.1 * outcome
      print('Начислена премия в размере 10%')
    else:
      if hours >= 30 and hours < 39:
        outcome = outcome + 0.2 * outcome
        print('Начислена премия в размере 20%')
      else:
        if hours >= 40:
          outcome = outcome + 0.3 * outcome
          print('Начислена премия в размере 30%')
outcome = round(outcome, 2)
print('Итого к выплате: ', outcome)

Начислена премия в размере 20%
Итого к выплате:  15360.0

In [ ]:
# Количество отработанных часов
hours = 32
# Стоимость часа работы
tax = 400
outcome = hours * tax
if hours >= 0 and hours < 9:
  outcome = outcome - 0.2 * outcome
  print('Начислен штраф в размере 10%')
elif hours < 19:
  print('Нет ни премий, ни удержаний')
elif hours < 29:
  outcome = outcome + 0.1 * outcome
  print('Начислена премия в размере 10%')
elif hours < 39:
  outcome = outcome + 0.2 * outcome
  print('Начислена премия в размере 20%')
else:
  outcome = outcome + 0.3 * outcome
  print('Начислена премия в размере 30%')
outcome = round(outcome, 2)
print('Итого к выплате: ', outcome)

Начислена премия в размере 20%
Итого к выплате:  15360.0

In [ ]:
h = float(input('высота бака, см > '))
r = float(input('радиус основания бака, см > '))
v = 3.14 * (r**2) * h
print('Объекм бака', v, 'куб. см')
print('*' * 50)

h = float(input('высота бака, см > '))
r = float(input('радиус основания бака, см > '))
v = 3.14 * (r**2) * h
print('Объекм бака', v, 'куб. см')
print('*' * 50)

h = float(input('высота бака, см > '))
r = float(input('радиус основания бака, см > '))
v = 3.14 * (r**2) * h
print('Объекм бака', v, 'куб. см')
print('*' * 50)

высота бака, см > 1
радиус основания бака, см > 2
Объекм бака 12.56 куб. см
**************************************************
высота бака, см > 3
радиус основания бака, см > 4
Объекм бака 150.72 куб. см
**************************************************
высота бака, см > 4
радиус основания бака, см > 9
Объекм бака 1017.36 куб. см
**************************************************

In [ ]:
keep_going = 'Y'
while keep_going == 'Y' or keep_going == 'y':
  h = float(input('высота бака, см > '))
  r = float(input('радиус основания бака, см > '))
  v = 3.14 * (r**2) * h
  print('Объекм бака', v, 'куб. см')
  print('*' * 50)
  keep_going = input('Вычислим еще один? (Y или y - продолжим) > ')

высота бака, см > 1
радиус основания бака, см > 2
Объекм бака 12.56 куб. см
**************************************************
Вычислим еще один? (Y или y - продолжим) > y
высота бака, см > 5
радиус основания бака, см > 6
Объекм бака 565.2 куб. см
**************************************************
Вычислим еще один? (Y или y - продолжим) > Y
высота бака, см > 5
радиус основания бака, см > 5
Объекм бака 392.5 куб. см
**************************************************
Вычислим еще один? (Y или y - продолжим) > y
высота бака, см > 7
радиус основания бака, см > 7
Объекм бака 1077.02 куб. см
**************************************************
Вычислим еще один? (Y или y - продолжим) > n

In [ ]:
for x in [1,3,4,5,6,78]:
  print('*' * 20)
  print(x, '\t', x*x)

********************
1 	 1
********************
3 	 9
********************
4 	 16
********************
5 	 25
********************
6 	 36
********************
78 	 6084

In [ ]:
for x in [2,'abc', True, 4.55, 5, 'Hello']:
  print('*' * 20)
  if type(x)==int or type(x)==float:
    print(x, '\t', x*x)
  else:
    print(x)

********************
2 	 4
********************
abc
********************
True
********************
4.55 	 20.702499999999997
********************
5 	 25
********************
Hello

In [ ]:
for e in range(20):
  print(e, end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [ ]:
for e in range(14, 20):
  print(e, end = ', ')

14, 15, 16, 17, 18, 19,

In [ ]:
for e in range(10, 100, 20):
  print(e, end = ', ')

10, 30, 50, 70, 90,

In [ ]:
total = 0
print('Месяц \t Продажи \t Накопительный итог')
print('-'*50)
for i in range(12):
  month_number = i+1 # Вычисляем номер месяца
  money = month_number * 1000 / (month_number + 1)
  total = total + money
  print(month_number, ' \t', round(money, 2), ' \t', round(total, 2))

Месяц 	 Продажи 	 Накопительный итог
--------------------------------------------------
1  	 500.0  	 500.0
2  	 666.67  	 1166.67
3  	 750.0  	 1916.67
4  	 800.0  	 2716.67
5  	 833.33  	 3550.0
6  	 857.14  	 4407.14
7  	 875.0  	 5282.14
8  	 888.89  	 6171.03
9  	 900.0  	 7071.03
10  	 909.09  	 7980.12
11  	 916.67  	 8896.79
12  	 923.08  	 9819.87

In [ ]:
N = int(input('Введите целое число N > '))
N_fact = 1
while N>0:
  N_fact = N_fact * N
  N = N - 1

print('N! = ', N_fact)

Введите целое число N > 25
N! =  15511210043330985984000000

# Лекция 4

In [ ]:
def error_message():
  print('*'*25)
  print('*   Произошла ошибка!   *')
  print('*'*25)

In [ ]:
error_message()

*************************
*   Произошла ошибка!   *
*************************

In [ ]:
def main():
  for _ in range(3):
    error_message()

In [ ]:
main()

*************************
*   Произошла ошибка!   *
*************************
*************************
*   Произошла ошибка!   *
*************************
*************************
*   Произошла ошибка!   *
*************************

In [ ]:
def print_my_function(x):
  print('*'*50)
  print('Значение x =', x)
  print('Квадрат x^2 =', x**2)
  print('Куб x^3 =', x**3)
  print('Произвольная x^4 + 3*x^2 + 7 =', x**4 + 3*x**2 + 7)

In [ ]:
print_my_function(4)
print_my_function(14.6)
print_my_function(77)

**************************************************
Значение x = 4
Квадрат x^2 = 16
Куб x^3 = 64
Произвольная x^4 + 3*x^2 + 7 = 311
**************************************************
Значение x = 14.6
Квадрат x^2 = 213.16
Куб x^3 = 3112.136
Произвольная x^4 + 3*x^2 + 7 = 46083.6656
**************************************************
Значение x = 77
Квадрат x^2 = 5929
Куб x^3 = 456533
Произвольная x^4 + 3*x^2 + 7 = 35170835

In [ ]:
def foo(x, y, z):
  length = x**2 + y**2 + z**2
  print(length)

foo(1, 2, 3)

14

In [ ]:
# Функция с возвратом значения
def f(x):
  return x*x

# Функция без возврата значения
def g(x):
  print('We are in g(). x^3 =', x*x*x)

f(3)
g(4)

print(f(12))
print(g(21))

We are in g(). x^3 = 64
144
We are in g(). x^3 = 9261
None

In [ ]:
import math, random

# генерируем 10 случайных чисел
# и вычисляем синус от этих значений
for _ in range(10):
  x = random.randint(100, 1000)
  y = math.sin(x)
  print('x =', x,  '\t y =', y)

x = 295 	 y = -0.30478191109030295
x = 937 	 y = 0.7211003682427743
x = 278 	 y = 0.99952109184891
x = 121 	 y = 0.9988152247235795
x = 697 	 y = -0.42011232727019937
x = 437 	 y = -0.31325740971087507
x = 190 	 y = 0.9977992786806003
x = 802 	 y = -0.7795038357248097
x = 257 	 y = -0.5733571748155426
x = 524 	 y = 0.6019757972528995

In [ ]:
from math import sin
from random import randint

# генерируем 10 случайных чисел
# и вычисляем синус от этих значений
for _ in range(10):
  x = randint(100, 1000)
  y = sin(x)
  print('x =', x,  '\t y =', y)

x = 142 	 y = -0.5877950071674065
x = 654 	 y = 0.5216024406758817
x = 714 	 y = -0.7568419012610816
x = 619 	 y = -0.10604746068673451
x = 507 	 y = -0.9333313464826719
x = 311 	 y = 0.01767178546737087
x = 773 	 y = 0.16741513842849595
x = 914 	 y = 0.20206131455610385
x = 285 	 y = 0.7738715902084317
x = 306 	 y = -0.9537617134939987

In [ ]:
def recursive_sum(n):
  if n<2:
    return 1
  else:
      return n + recursive_sum(n-1)

In [ ]:
print(recursive_sum(20))

210

In [ ]:
from math import pi

In [ ]:
def s_rectangle(a, b):
  return a*b

In [ ]:
def s_circle(r):
  return pi*r*r

In [ ]:
def s_triangle(a):
  return a*a*3**0.5 / 4

In [ ]:
def v_ball(r):
  return 4*r**3 / 3

In [ ]:
def v_cube(a):
  return a**3

In [ ]:
def question():
  print('*'*20)
  print('1 - Вычисление площади прямоугольника')
  print('2 - Вычисление площади круга')
  print('3 - Вычисление площади правильного треугольника')
  print('4 - Вычисление объема шара')
  print('5 - Вычисление объема куба')
  answer = input('Выберите команду > ')
  return answer

In [ ]:
while True:
  choice = question()
  if choice=='1':
    a, b = int(input('Введите a > ')), int(input('Введите b > '))
    print('Площадь прямоугльника: ', s_rectangle(a, b))
  elif choice=='2':
    r = int(input('Введите r > '))
    print('Площадь прямоугльника: ', s_circle(r))
  elif choice=='3':
    a = int(input('Введите сторону a > '))
    print('Площадь прямоугльника: ', s_triangle(a))
  elif choice=='4':
    r = int(input('Введите r > '))
    print('Объем шара: ', v_ball(r))
  elif choice=='5':
    a = int(input('Введите a > '))
    print('Объем куба: ', v_cube(a))
  else:
    print('Программа завершена!')
    break

********************
1 - Вычисление площади прямоугольника
2 - Вычисление площади круга
3 - Вычисление площади правильного треугольника
4 - Вычисление объема шара
5 - Вычисление объема куба
Выберите команду > 2
Введите r > 4
Площадь прямоугльника:  50.26548245743669
********************
1 - Вычисление площади прямоугольника
2 - Вычисление площади круга
3 - Вычисление площади правильного треугольника
4 - Вычисление объема шара
5 - Вычисление объема куба
Выберите команду > 1
Введите a > 6
Введите b > 7
Площадь прямоугльника:  42
********************
1 - Вычисление площади прямоугольника
2 - Вычисление площади круга
3 - Вычисление площади правильного треугольника
4 - Вычисление объема шара
5 - Вычисление объема куба
Выберите команду > 0
Программа завершена!

# Лекция 5

In [ ]:
f = open('custumers.txt', 'w')
f.write('Иванов П.А.\n')
f.write('Мирнов В.Г.\n')
f.write('Седов Е.В.\n')
f.close()

In [ ]:
f=open('custumers.txt')
data = f.read()
f.close()

print(data)

Иванов П.А.
Мирнов В.Г.
Седов Е.В.

In [ ]:
f=open('money.txt')
data1 = float( f.readline() )
data2 = float( f.readline() )
data3 = float( f.readline() )
f.close()
total = data1 + data2 + data3
total = round(total, 2)
print(total)

12721.32

In [ ]:
from random import random, seed
seed(10)
f = open('money.txt', 'w')
for _ in range(1000):
  money = round( random() * 10000, 2 )
  f.write(str(money) + '\n')
f.close()
print('Task completed!')

Task completed!

In [ ]:
f=open('money.txt')
min_value = 10**6
count = 0
sum_value = 0
# Обходим файл построчно
for line in f:
  money = float(line)
  sum_value += money
  count += 1
  min_value = min(min_value, money)
f.close()
print(f'Минимум = {min_value}, Среднее = {sum_value/count}')

Минимум = 5.57, Среднее = 5033.190079999994

In [ ]:
try:
  a, b = int(input()), int(input())
  res = a / b
  print(res)
except:
  print('Что-то пошло не так!')

5
6.99
Что-то пошло не так!

# Лекция 6

In [1]:
numbers = [5, 10, 15, 20]
print(numbers)

[5, 10, 15, 20]

In [2]:
iter = range(5)
print(iter, type(iter))
my_list = list(iter)
print(my_list, type(my_list))

range(0, 5) <class 'range'>
[0, 1, 2, 3, 4] <class 'list'>

In [3]:
tens = list(range(10,100, 10))
print(tens)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [4]:
zeros = [0] * 7
print(zeros)

[0, 0, 0, 0, 0, 0, 0]

In [5]:
nums = [1, 5, 10] * 3
print(nums)

[1, 5, 10, 1, 5, 10, 1, 5, 10]

In [7]:
nums = [1, 2, 3]
all_nums = nums + [4, 5, 6]
print(all_nums)

[1, 2, 3, 4, 5, 6]